body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

.container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
.actions {
    margin-top: 20px;
}

.selected {
    background-color: #555;
    color: white;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid white;
    padding: 10px;
}

th {
    background-color: #333;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #45a049;
}

.card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: black;

}

.container {
            text-align: center;
        }

h2 {
    text-align: center;
    
}

#loginForm {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    

}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}



        